* {
    font-family: "IBM Plex Sans", sans-serif;
    /* Schriftarten von Adobe Fonts = (neue) frutiger world, medium (regular) > wir bekommen deren Schriftart */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #022371;
}
body {
    position: absolute;
    height: 98vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
header {
    position: absolute;
    height: 2vh;
    top: 0;
}

.container {
    text-align: center;
}

button {
    font-size: min(2rem, 3vw);
    font-weight: 700;
    padding: 10px 20px;     /* fit medias */
    cursor: pointer;
    border-radius: 5%;
    background-color: #fff;
    border: 1px solid #022371;
    font-style: bold;
    margin: min(0.4rem, 1rem) min(0.4rem, 1rem);
}
button:hover {
    color: #02237170;
    border: 1px solid #02237170;
}
#fotoBtn {
    margin-top: 0;
}

.container h1 {     /* PP neue maschine */
    font-size: min(10vw, 5rem);
    font-weight: 500;
    margin: 0.2em 1em 0em 1em;
}
.container h2 {
    font-size: min(6vw, 3rem);
    font-weight: 400;
    margin: 0.2rem min(0.5rem, 1rem);
}
#aufgabenstellung p {
    font-size: min(3vw, 1.5rem);
    text-align: left;
    line-height: 1.7;
}
.textParagraph {
    width: min(70vw, 45rem);
}
#download-section h3 {
    font-size: min(3vw, 1.5rem);
    font-style: italic;
    margin-top: 5%;
}
#download-card .subtitle {
    font-size: min(4vw, 2rem);
}

video {
    border: 2px solid #022371;
    width: min(32rem, 90vw);
    height: min(32rem, 90vw);
    object-fit: cover;
}
.controls {
    margin-top: 10px;
}
.controls input {
    padding: 5px;
    width: 100px;
}

#bingoContainer {
    display: grid;
	grid-template-rows: repeat(4, min(10rem, 20vw));
	grid-template-columns: repeat(4, min(10rem, 20vw));
	grid-gap: min(0.5em, 1vw);
    justify-content: center;
    margin: 5% 5%;
}
#bingoContainer > div {
    border: min(1px, 2px) solid #022371;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box2,
#box4,
#box5,
#box7,
#box10,
#box12,
#box13,
#box15 {
    background-color: #022371;
}
#inheritBingo {
    margin: 4em 1em;
}

/* the photos are created by the capturePhoto function */
.photo {
    margin: 0;
    position: relative;
    border: 0;
}
.photo img {
    width: min(10rem, 20vw);
    height: min(10rem, 20vw);
    border: min(1px, 2px) solid #022371;
    margin-top: 3%;
}

/* styling of the download section */
#download-card {
    border: 4px solid #022371;
    padding: 5%;
    margin-bottom: 1%;
}